{% extends 'JmeUserBundle::layout.html.twig' %}

{% block content %}
    <div id="login-box">
        <div class="wrapper">
            <div class="error">{% if error %}{{ error.message|trans }}{% endif %}</div>

            <form action="{{ path('login_check') }}" method="post">
                <p><span class="glyphicon glyphicon-user"></span><input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'login.username'|trans }}" /></p>

                <p><span class="glyphicon glyphicon-lock"></span><input type="password" id="password" name="_password" placeholder="{{ 'login.password'|trans }}" /></p>

                {#
                    If you want to control the URL the user is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button class="btn" type="submit">{{'login.login'|trans}}</button>
                <a class="cancel-login" href="{{ path('jme_article_latest') }}">{{ 'login.cancel'|trans }}</a>
            </form>
        </div>
    </div>
{% endblock %}

