{% extends 'JmeMediaBundle::layout.html.twig' %}

{% block content %}
    <div class="content padded-content">
        <article>
            <h1>Uploaded files</h1>

            <p><a href="{{ url('jme_media_select_file') }}">{{ 'media.upload-new-file'|trans }}</a></p>

            {% for image in images %}
                <div class="image-box">
                    <img src="{{ filelib_url(image, "media_small") }}" /><br/>

                    <div class="image-url" data-id="{{ image.id }}">
                        <span>{{ filelib_url(image, "media_small") }}</span>

                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% include 'JmeMediaBundle:Media:dialog.html.twig' with {image: image} %}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
{%  endblock %}