<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}{% endblock %}

    {% stylesheets filter='yui_css' output='/css/common.css'
            '@JmeMainBundle/Resources/less/main.less'
    %}

    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <nav>{{ knp_menu_render('JmeMainBundle:Builder:mainMenu') }}</nav>

    {{ jme_flash() }}

    {% block content %}{% endblock %}

    {% javascripts output="/js/main.js" filter="coffee,?yui_js"
        %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>