<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}{% endblock %}

    <link href="//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" media="screen" />

    {% stylesheets filter='yui_css' output='/css/common.css'
            'bundles/jmemain/js/bootstrap-3.1.1/css/bootstrap.min.css'
            '@JmeMainBundle/Resources/css/normalize.css'
            '@JmeMainBundle/Resources/css/highlight.js/zenburn.css'
            '@JmeMainBundle/Resources/less/main.less'
            '@JmeArticleBundle/Resources/less/article.less'
    %}

    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <script>
        var App = App || {};
    </script>

    <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-29770055-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    {% include '::nav.html.twig' %}
    {{ jme_flash() }}

    <div id="wrapper">
        <div id="main">{% block content %}{% endblock %}</div>
    </div>

    <footer>
        <p>Copyright &copy; 2013 - {{ "now"|date('Y') }} Janimatti Ellonen</p>
    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    {% javascripts output="/js/main.js" filter="?yui_js"
        'bundles/jmemain/js/bootstrap-3.1.1/js/bootstrap.min.js'
        '@JmeMainBundle/Resources/js/highlight.pack.js'
        '@JmeMainBundle/Resources/coffee/RemoveDialog.coffee'
        '@JmeMainBundle/Resources/coffee/main.coffee'
        '@JmeArticleBundle/Resources/coffee/article.coffee'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('article .content pre code').each(function(i, e) {hljs.highlightBlock(e)});
        });
    </script>


</body>
</html>