<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}{% endblock %}

    <link href="{{ asset('css/jquery-ui/ui-lightness/jquery-ui-1.8.23.custom.css') }}" rel="stylesheet" media="screen" />

    {% stylesheets filter='yui_css' output='/css/common.css'
            '@JmeMainBundle/Resources/css/normalize.css'
            '@JmeMainBundle/Resources/css/highlight.js/zenburn.css'
            '@JmeMainBundle/Resources/less/main.less'
            '@JmeCommentBundle/Resources/less/comment.less'
    %}

    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <script>

        var App = App || {};

        var url_tagSource    = '{{ url('xi_tag_search') }}';
        var url_tagAddSource = '{{ url('xi_tag_add') }}';

    </script>
    
    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
</head>
<body>

<nav>{{ knp_menu_render('main') }}</nav>

    {{ jme_flash() }}

    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>


    {% javascripts output="/js/main.js" filter="?yui_js"
        '@XiAjaxBundle/Resources/assets/js/jquery.form.js'
        '@JmeMainBundle/Resources/js/highlight.pack.js'
        '@XiAjaxBundle/Resources/coffee/ajax-abstract-logic.coffee'
        '@XiAjaxBundle/Resources/coffee/ajax-form.coffee'
        '@XiAjaxBundle/Resources/coffee/ajax-element.coffee'
        '@XiAjaxBundle/Resources/coffee/ajax-loader.coffee'
        '@XiDialogBundle/Resources/coffee/dialog.coffee'
        '@JmeMainBundle/Resources/coffee/RemoveDialog.coffee'
        '@JmeMainBundle/Resources/coffee/main.coffee'
        '@XiSelectorBundle/Resources/coffee/Selector.coffee'
        '@JmeArticleBundle/Resources/coffee/article.coffee'
    %}



    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('article .content pre code,').each(function(i, e) {hljs.highlightBlock(e)});
        });
    </script>

</body>
</html>