<article>
    {% if listMode == false %}
        <h1>{{article.title}}</h1>
    {% else %}
        <a class="title-link" href="{{ path('jme_article_view', {article: article.urlId}) }}">
            <h1>{{article.title}}{% if article.isPublished == false %} ({{ 'article.not-published'|trans|upper }}){% endif %}</h1>
        </a>
    {% endif %}

    <p class="date">{{article.created|date('F n, Y H:i')}} {{ jme_tags(article) }}</p>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{jme_article_controls(article)}}
    {% endif %}

    {% if listMode == true %}
        <div class="brief">{{article.brief|raw|nl2br}}</div>
    {% else %}
        <div class="content">{{article.content|raw}}</div>
    {% endif %}
</article>